body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: brown;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
}

hr{
    color: #5a1f1f;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 50px;
}


.form-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


button {
    width: 100%;
    padding: 10px;
    background-color: brown;
    color: antiquewhite;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #5a1f1f;
}


.result {
    width: 300px;
    min-height: 120px;
    padding: 20px;
    border-radius: 10px;
    background-color: brown;
    color: antiquewhite;
}


.result:empty {
    display: none;
}